/* Fonts from google because I am a whore */
/* H1: Nova Cut H2: Nova Oval P:  Averia Serif Libre */
@import url("https://fonts.googleapis.com/css2?family=Nova+Cut&family=Nova+Oval&family=Averia+Serif+Libre:ital,wght@0,200;0,400;0,700;1,400;1,700&&display=swap");
/* Page dimensions and shit */
/* Colors */
* {
  box-sizing: border-box;
}

:root {
  font-size: 14pt;
}

html {
  font-family: "Averia Serif Libre", sans-serif;
  background-color: #ddd;
  font-weight: 400;
}

header {
  background-color: #444;
}

header h1 {
  font-family: "Nova Cut";
  font-size: 3rem;
  text-shadow: 2px 2px 4px gray;
  background: none;
  border-radius: 0;
  margin: auto;
  max-width: 1200px;
  padding: 0;
  color: #ddd;
}

header h1::first-line {
  font-size: calc(4em / 3);
}

header a {
  text-decoration: none;
}

body {
  min-width: 375px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  margin: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nova Oval", sans-serif;
  color: #777;
  background: linear-gradient(to right, #eaeaea, transparent);
  border-radius: 0.5em;
  margin-block-start: 1.5em;
  margin-left: 0.5em;
}

@media screen and (max-width: 425px) {
  :root {
    font-size: 12pt;
  }
}

@media screen and (min-width: 720px) {
  header h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "content menu";
  }
  header {
    grid-area: header;
  }
  header h1 {
    font-size: 5rem;
    padding: 0.5em 0;
  }
  main {
    display: block;
    grid-area: content;
    max-width: 1024px;
    margin: 0 0.5em 0 auto;
    padding-left: 2em;
  }
  .menu {
    margin: 2em 2em auto 2em;
    grid-area: menu;
    border-radius: 0.5em;
    overflow: clip;
    max-width: 40ch;
  }
}
