---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Unpossible</h1>
	<p>Your requested resource couldn't be found.</p>
	<p>If you got here from a link on my site, it's probably just under construction.  Give it a damn minute.</p>
	<p>In any case, <a href="#" onclick="javascript:history.back();">you have to go back</a>.</p>
</BaseLayout>
