---
import CultMenu from "../components/CultMenu.astro";
import ToggleMenu from "../components/ToggleMenu.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Welcome frens">
	<CultMenu slot="body-menu" />

	<p itemscope itemtype="https://schema.org/WebSite">
		<data hidden itemprop="url">https://grendel.world</data>
		<data itemprop="abstract">
			Personal website, repository, blog, and shitposting mainframe of
			<data
				itemscope
				itemtype="https://schema.org/Person"
				itemprop="author"
			>
				<data itemprop="name">Grendel</data>
				aka <data itemprop="additionalName">Cpt&nbsp;Chuckles</data>
			</data>
		</data>
	</p>

	<h2>Minecraft Server</h2>
	<p>
		Our base of shenanigans is live at <code>grendel.world:8000</code>
		<em style="color: #666">(Java only, no plebrockers allowed)</em>
	</p>
	<p>
		<strong>
			Beware that I am too lazy to roll back before version 1.19,
		</strong>
		so anything you do or say can and WILL be used against you in a court of
		law—in minecraft.
	</p>
</BaseLayout>
