---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Welcome frens">
	<p>Personal website, repository, blog, and shitposting mainframe of Grendel aka Cpt Chuckles</p>
</BaseLayout>
