---
import CultItem from "./CultItem.astro";
const cultHeading = '"Find me on the internets"';
---

<div class="cult">
	<input type="checkbox" id="join" aria-label="Expand cult links" />
	<div class="list-holder" itemscope itemtype="https://schema.org/ItemList">
		<data hidden itemprop="description">External links to Grendel across the internet</data>
		<ul>
			<CultItem
				icon="/github-logo.svg"
				url="https://github.com/cptchuckles"
				label="cptchuckles"
			/>
			<CultItem
				icon="/gitlab-logo.svg"
				url="https://gitlab.com/cptchuckles"
				label="cptchuckles"
			/>
			<CultItem
				icon="/yt-logo.svg"
				url="https://youtube.com/channel/UCC6f_N9nz_YsOcvyuLSbXXQ"
				label="klayperson"
			/>
			<CultItem
				icon="/twitter-logo.svg"
				url="https://twitter.com/pt24grendel"
				label="@pt24grendel"
			/>
			<CultItem
				icon="/Gnome-envelope.svg"
				url="#"
				label="'electronic' mail???"
			/>
		</ul>
	</div>
</div>

<style define:vars={{cultHeading}}>
	.cult {
		background-color: #333;
	}
	.cult .list-holder {
		margin: 0;
		padding-left: 2em;
		color: #ddd;
	}
	.cult ul {
		display: block;
		padding: 0;
		margin: 0;
		max-height: 0;
		width: fit-content;
		padding-right: auto;
		overflow-y: clip;
		transition: all 0.1s ease-in-out;
	}
	.cult input#join:checked ~ .list-holder > ul {
		max-height: 18em;
		padding: 0.2em 0;
	}
	.cult input#join {
		display: flex;
		align-items: baseline;
		appearance: none;
		cursor: pointer;
		margin: 0;
		padding-left: 1em;
	}
	.cult input#join::before {
		font-family: "Nova Oval", sans-serif;
		font-size: 1.2rem;
		font-weight: 700;
		content: var(--cultHeading);
		color: #888;
	}
	.cult input#join::after {
		width: 0.9em;
		height: 0.9em;
		margin-left: 0.3em;
		display: block;
		content: " ";
		border: 4px solid #777;
		border-left: 0;
		border-bottom: 0;
		border-radius: 2px;
		transform: rotate(45deg);
		transition: transform 0.1s ease-in-out;
	}
	.cult input#join:checked::after {
		transform: rotate(135deg);
	}
</style>
