---
import CultItem from "./CultItem.astro";
import ToggleMenu from "./ToggleMenu.astro";
---

<div class="cult">
	<ToggleMenu
		heading="Find me on the internets"
		headingColor="#888"
		chevronColor="#777"
		openSize="16em"
		foldSpeed="0.2s"
		autoExpand
	>
		<ul itemscope itemtype="https://schema.org/ItemList">
			<data hidden itemprop="description">
				External links to Grendel across the internet
			</data>
			<CultItem
				icon="/github-logo.svg"
				url="https://github.com/cptchuckles"
				label="cptchuckles"
			/>
			<CultItem
				icon="/gitlab-logo.svg"
				url="https://gitlab.com/cptchuckles"
				label="cptchuckles"
			/>
			<CultItem
				icon="/yt-logo.svg"
				url="https://youtube.com/channel/UCC6f_N9nz_YsOcvyuLSbXXQ"
				label="klayperson"
			/>
			<CultItem
				icon="/twitter-logo.svg"
				url="https://twitter.com/pt24grendel"
				label="@pt24grendel"
			/>
			<CultItem
				icon="/Gnome-envelope.svg"
				url="mailto:jcg@grendel.world"
				label="'electronic' mail???"
			/>
		</ul>
	</ToggleMenu>
</div>

<style>
	.cult {
		background-color: #333;
		color: #ddd;
		padding: 0.5em 0;
	}
	.cult ul {
		display: block;
		margin: 0;
		padding: 0.2em 2em;
	}

	@media screen and (min-width: 1200px) {
		.cult {
			padding: 1em;
			border-radius: 0.6em;
		}
	}
</style>
