---
---

<details>
	<summary>
		<span>PGP Public Key</span>
		<button id="copy-pgp-key">copy</button>
	</summary>
		<pre id="pgp-public-key">
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGF1rU8BEAChEHt0KaoO0MZ2xkrJZbXIuPHV0brNz7dF2bYZpF+zNSMCRGtE
oEb1BiDtLi74jX3LtCfEfzfo/P6ePQ2m2Wyn0+4lIOA7mYSQbbL0wlEOh+JGgXT8
WvXoz/+4YQ7ilwFXLVA89tYNhYx0BqxNlNYMKzVI0073RRizIelcE4m9NiBwB7NU
IIwf2m0g0B5nDl6FDDVVCQ4a081lsjp3g5rA8FD1lpj/qrb5cxVt08Mwsfq77mok
XhCe6H7xSAlN86uxgneTOWV9Ve1YMXWKKSp52pA+5i8UH/L2MxNARPXypH5bgScr
ojEMpVyiQ6qcJDdpV7EOwU+6c4Fa42IjbqWL+S1nGm67fMdwKxUGJytDvctqxiub
V7TQvHTcKmN/0YJW2YNe9qqcaoTYH7x3GlJPh25+/HZXCGy4RCYZRFW+1oCJ3h2j
BOhD4uhRuryNZ31Jt9mig7MGZa+ahCQ4L8otdqWfBuPK2FUpS0V3ZA4S/QMGMpgK
lBYu/6TwineRpfhxzK+qf87I0bx6aETibvm6JsmiREjg1/il2YrMlE3oruMPvhnx
/atBMxgGL+PXMrofGuPo0fUvzEj/GMp6oovPpcWkEb/1CMKwNw5OT7UfErwtr3dt
/ShnpveCyyaHE/RzjQgSseEfW2PZuYP3WWZmJ5kpvm/N3eG5I2iyGL4SNQARAQAB
tBtHcmVuZGVsIDxqY2dAZ3JlbmRlbC53b3JsZD6JAk4EEwEIADgWIQRG/VuIhBf6
22eb/mkXWUphORyepwUCYXWtTwIbAwULCQgHAgYVCgkICwIEFgIDAQIeAQIXgAAK
CRAXWUphORyep/YvD/9pCSjyc6+b3/LlmreoODWl7heWMLlAxDPWbWG4DxMBMWNd
Rp71BPkVGNUFbx83QQMMyEkCZjkZyXtmC+bz54yh4zhgw3CH3TG3uSEal/9hMP0N
oAKEOOk+sRK4KrEO+SFOqvHsl7/d2jY+OTJ+mjglRjQcxF2pGluT7h8f/gGnw01R
ATpz8205tFadz1bvbtoOXTJV42bIqpI0D2D9ZPFYPaas3dY5S7Zxxr7DMDZ2xz/M
GjMEWX6Y108cmcipROE69aSInUae6JTJz73BhwtTdJY2D05t2BSvB03IUU/Cr2uG
u2vi18tx4dW7BcLoVzpaZgNMVFn2eqZzWKEupkU9ruQpSgjFttTdavW1xQjnXXqp
OsZs0v7pzNAYhumCBYRIUgP8IeIrn674LFXYs28fwP1xTDi0U/QNKsJTWHteWQka
ADDWAXDdZf8X0N3yE7RzPGM7aZJE9ozwleycaa+1xDj0IDBhoSy8Vxf5X4x0TQ4G
mJShxswXQMPvvbRVOzFOu6lXJ88HQ3f18mNb0gAnLnVJGzFZhswCfM7R+k5Ks/Pq
veT9womfRo7vQZWNv0sg4cnNPwwxA1zrxtdlBZEioqEwL1c1TsUA/W4NZiROToXZ
QdRZCeFNl/rhdAZe8y+1XKnjopu5kN8n+olBteLwmRjbcdxffn8ZsrHFs+ecoLkC
DQRhda1PARAA1jNrgF/X03DOLnlQLoa/J0qvzdn71zbbffNlUqcdP+5IHrDbENfu
XnfGLP2GbeF6fnyhKlwEdsLFJXpDMqqbEQXw9NW+sUH196zL797p0JmrTNWsfj33
x+O5qqX8eiD39gVCuG8/mnezpuF+GkLRqYHKv0+xSM0l+Lz0Ph5mzEBH5+sVqPFW
6JrkEbLk4Wku9t6pLkqmfv5Nx5Wq5LN8er3Z30QMw1veVXe1G5YqLhch56m0FXz3
t646uXzVavq7KnEzntre52goIbhTDonTregxqYu7abHONQdx+8hszLD3GOB8YePw
sMgD7fx8+Voe2rwTCb9YYOZWfqXy0iYNvZuF0+lbKTkVflJVreusgEfPJAHU9QQH
/KnCTZShFW0/n55wcm+ekDxD2axhy+UpKFe2tcT0CHNIG/mwX/EvJgN4u8EB+na4
pQQ3LfM5DmgCBk2i7nZL0p2xaZx+9l//ubRMWtGUvWrTDaO913//HTcLDpTmInDi
e5O11N+EkJZNt7s13Rhsv11zwhQnHTuJ3DDA9+QV6cMZI4RtroUbBEuKRGP6vV+b
zkM8vBPTheJG8ykSImrlB1eCgrDeFa86Ui7KwOrYreU+ebE1Fvf7X55zP5V28bVr
pSUxhUHDTJcRFzC50y06PHsuijoBsZxS7jN6OM81A2Tr4G33oGPGVg8AEQEAAYkC
NgQYAQgAIBYhBEb9W4iEF/rbZ5v+aRdZSmE5HJ6nBQJhda1PAhsMAAoJEBdZSmE5
HJ6n7vsP/3FqMQywbhiRzcKSGyIE5F3mX32J8h0frF2QEybt22e1CMz+2CAZ5WSg
Mm8as8fjB/ytnBCs97LQ6uKJoQGgENrKHXm1trukaqV2dCdTV6VRecmq9LEdRY6S
LHgr/bi19z+BuOOkyr5nFEncSqGhYjvr9jz5aaNeUNsMwfD4k8DjVHK56qkwQ5Ks
wNyl/oVEPZQE5Lpfg2BMX7tljhlVSyrA7YJfiNOkva6XGX/TEUixD/qY/E2oiLEv
4tr4vojv2YCEU6T/mzrc0SmwLHksByfnu7r8SW6iwPGcS8GknGAa1vE0ITkFGiyB
rLxLzqlYasExmIo/apzTbINNYnae3QAk8Mxju8cH/z5932tfv4RLQiRZY178tZOP
LEEHMAuOfhRuFzNwEW0zK9jym3sfVK2S7GMNtWBOZQk685lEUt8/igYgsWyz7OHo
NT5JIcPQqYW9OMm+K4n5Xe1rBMkB17BTa46LspdapPqX0/rcpU2QlTHt/AoXH70J
+L4z0LDs26eRbtazCmgyJmpcKt/Q6cjhbUXiW0x0TK1+gHIO6DL3OOYO83Yj9lDg
+6L9edja+6NiKE1cFyIsuLOrpQ8O62XfS5/DHCF+jAD9Ln/O2m8UvzLQ67OqqqkC
E8Jg9yDsCKKN2+69uPW/O657tfi91bszpZS/2EEpoA9mV/XhLXnf
=Outm
-----END PGP PUBLIC KEY BLOCK-----
	</pre>
</details>

<script type="text/javascript">
const copy_pgp_key = () => {
	const pgp_public_key = document.getElementById("pgp-public-key").textContent;
	navigator.clipboard.writeText(pgp_public_key)
		.then(() => alert("PGP Public Key copied to clipboard"))
		.catch(() => alert("Error copying PGP Public Key to clipboard"));
}
const copy_button = document.getElementById("copy-pgp-key");
copy_button.addEventListener("click", copy_pgp_key);
if (navigator.clipboard === undefined)
{
	copy_button.parentNode.removeChild(copy_button);
}
</script>

<style>
details {
	display: block;
	border: 1px solid #aaa;
	border-radius: 0.5em;
	padding: 0.5em;
}
summary {
	margin: -0.5em;
	padding: 0.5em;
	font-weight: bold;
	cursor: pointer;
}
summary button {
	float: right;
	font-weight: normal;
	font-size: 0.8em;
}
details[open] summary {
	border-bottom: 1px solid #aaa;
}
details pre {
	font-size: 0.7rem;
	overflow-x: auto;
}
</style>
