---
import CultMenu from "../components/CultMenu.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/main.css" />
		<title>{pageTitle} - Grendel World</title>
	</head>
	<body>
		<header role="banner">
			<a href="/">
				<h1>Grendel World</h1>
			</a>
		</header>

		<div class="menu">
			<CultMenu />
		</div>

		<main itemscope itemtype="WebPage">
			<h1 itemprop="name">{pageTitle}</h1>

			<data itemprop="mainContentOfPage">
				<slot />
			</data>
		</main>
	</body>
</html>
